*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/* Обнуление>>>>>> */


*{
    width: 1440px;
    max-width: 1440px;
    margin: 0 auto;
}

.header{
    position: relative;
    width: 100%;
    height: 765px;
    background-image: url(assets/img/headerphoto.png);
}

.preview{
    position: relative;
    width: 100%;
    height: 765px;
}

.text_header{
    position: absolute;
    left: 120px; 
    top: 122px;
    height: 422px;
    width: 892px;
    color: #FFFFFF;  

}


h1{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
}

h2{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}

.short_text{
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-top: 10px;
}


h3{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
    max-width: 470px;
}


.steps_text{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    text-align: center;
    margin-top: 80px;
}

.steps_discription{
    margin-top: 30px;
    height: 25px;
    display: flex;
}

.tell_us{
    position: relative;
    text-align: center;
    align-items: center;
 

}



.share_us{
    text-align: center;
  
}

.recommendation{
    text-align: center;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
   
}


.icons_steps{
    display: inline-flex;
    margin-top: 40px;
}

.icon_tell_us{
    width: 100px;
    height: 100px;
    background-image: url(assets/img/tell_us.svg);
 

}

.icon_share_us{
    width: 100px;
    height: 100px;
    background-image: url(assets/img/share_us.svg);
}

.icon_recommendation{
   
    width: 100px;
    height: 100px;
    background-image: url(assets/img/recommendation.svg);
}


.input_header{
    display: flex;
    align-items: center;
    max-width: 892px;
    height: 95px;
    margin-top: 46px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    padding: 32px 0px 41px 41px; 
    color: #F2785C;
}

.text_input_header{
    margin-top: 0px;
    max-width: 560px;
}

.button_start{
    align-items: center;
    width: 228px;
    height: 59px;
    background: #0D606F;
    color: #FFFFFF;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}


.nav{
    display: flex;
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    background-color:rgb(95%, 47%, 36%, 0.7);
    width: 100%;
    height: 90px;
}

.logo{
    display: flex;
    position: relative;
}

.icon{
    display: inline-flex;
    position: absolute;
    left: 120px;
    top: 26px;
    height: 30px;
    width: 30px;
    background-image: url(assets/img/logoicon.svg); 
}

.icon_text{
    position: absolute;
    font-family: "magra";
    font-weight: 600;
    left: 156px;
    top: 25px;
    font-size: 32px;
    color: #FFFFFF;
}

.menu_items{

    align-items: center;
    display: flex;
    justify-content: space-between;
    
}
.list{
    font-family: "Red Hat Text";
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    top: 100px;
    width: 527px;
    height: 21px;
}

.login{
    font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
position: relative;
top: 24px;
bottom: 25px;
left: 196px;
line-height: 21px;

 
}
.button_login{
    color: #FFFFFF;
    position: absolute;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    width: 103px;
    height: 41px;
    border-radius: 10px;
    line-height: 21px;
    padding: 10px 30px;
}

.steps{
    padding-bottom: 0px;
    height: 333px;
}

.destinations{
    text-align: center;
    margin-top: 11px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    text-transform: uppercase;
    overflow: hidden;

}

.more_button{
    display: flex;
    align-items: center;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    width: 228px;
    height: 59px;
    margin-top: 40px;
    margin-left: 607px;
    color: white;
}

.arrow_button{
    padding-right: 35.5px;
    margin-left: 33.5px;
    width: 35px;
    height: 22.5px;
    background-image: url(assets/img/arrow_button.svg);
}

.points{
    display: flex;
    margin-top: 24px;
    width: 100px;
    height: 25px;
}

.point1{
    background: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
  
}

.point2{
    background: #F2785C;
    border-radius: 50%;
    margin: 0px 10px;
}

.point3{
    background: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
 
}




.slider_box{
    display: flex;
    justify-content: space-between;
     width: 2520px;
    height: 800px;
    margin-top: 46px;
    position: relative;
    right: 540px;
    

}


.first_photo{
    position: absolute;
    left: 1720px;
    top: 0px;
    height: 800px;
    width: 800px;
background: url(assets/img/one.png) no-repeat;
border-radius: 16px; 
}

.second_photo{
    position: absolute;
    left: 860px;
    top: 0px;
    height: 800px;
    width: 800px;
background: url(assets/img/two.png) no-repeat;
border-radius: 16px;
}

.third_photo{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 800px;
    width: 800px;
background: url(assets/img/three.png) no-repeat; 
border-radius: 16px;
}


.stories{
    margin-top: 34px;
    height: 1331px;
    width: 1440px;
    background: url(assets/img/finish_bg.jpg) no-repeat;
  
}

.stories_inner{
    height: 1270px;
    background: rgba(255, 255, 255, 0.7);
}




.block_travel_stories{
   
    display: flex;
    padding-top: 30px;
    margin-left: 0px;
}
#top_block{
    display: flex;
    padding-top: 40px;
    margin-left: 0px;
}

.headline_stories{
    text-align: center;
    margin-top: 80px;
    padding-bottom: 0px;
}

.discription_picture{
    width: 760px;
height: 184px;
margin-left: -80px;
    font-family: 'Aleo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #0D606F;
}

.link{
    text-decoration-line: underline;
color:#0D606F;
}

.headline_discription{
    font-family: 'Aleo';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 42px;
color: #0D606F;
}

.picture1{
    width: 400px;
    height: 250px;
    background-image: url(assets/img/first_pic.jpg);
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;

}

.picture2{
    width: 400px;
    height: 250px;
    background-image: url(assets/img/second_pic.jpg);
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;

}

.picture3{
    width: 400px;
    height: 250px;
    background-image: url(assets/img/third_pic.jpg);
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;

}

.picture4{
    width: 400px;
    height: 250px;
    background-image: url(assets/img/fourth_pic.jpg);
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;

}

.footer{
    display: flex;
    margin-top: 40px;
    width: 1440px;
    height: 61px;
}

.rights{
    margin-left: 0px;
    padding-left: 590px;
    position: relative;
    padding-top: 20px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
.social_list{
    position: relative;
    display: flex;
    top: 0px;
    height: 35px;
    width: 141px;
    align-items: center;
}

.instagram{
    background-image: url(assets/img/instagram.svg);
    width: 35px;
    height: 35px;
    margin-top: 19.61px;
}

.youtube{
    background-image: url(assets/img/youtube.svg);
    margin-top: 19.61px;
    width: 35px;
    height: 35px;
}

.twitter{
    background-image: url(assets/img/twitter.svg);
    margin-top: 19.61px;
    width: 35px;
    height: 35px;
}





